.message-holder {
  border: 1px solid #b6b6b6;
  padding: 1vh;
  border-radius: 5px;
  width: 99%;
  margin-top: 2vh;
  margin-bottom: 1vh;
  box-shadow: 2px 3px 5px #b8b8b8;
  background: #ffffff73;
}

.date-holder {
  font-size: 15px;
  margin-top: -5vh;
  display: flex;
  margin-right: 1vh;
  flex-direction: row-reverse;
}

.message-subject-holder {
  border: 1px solid #b6b6b6;
  padding: 1vh;
  border-radius: 5px;
  width: 98%;
  margin-left: 1%;
  margin-bottom: 2vh;
  box-shadow: 2px 3px 5px #b8b8b8;
  background: #ffffff73;
  display: flex;
}

.message-paragraph {
  color: gray;
}

.priority-paragraph,
.assigned-to {
  margin-left: 4.8vh;
  margin-top: -1vh;
}

.low-priority {
  background-image: linear-gradient(to right, #115613 0%, #568758 51%, #115613 100%);
  padding: 0.5vh;
  width: max-content;
  box-shadow: 2px 3px 5px rgb(167 167 167);
  border-radius: 5px;
  color: white;
  float: right;
  font-size: 13px;
  margin-right: 0.5%;
}

.normal-priority {
  background-image: linear-gradient(to right, #072ca5 0%, #2357ff 51%, #072ca5 100%);
  padding: 0.5vh;
  width: max-content;
  box-shadow: 2px 3px 5px rgb(167, 167, 167);
  border-radius: 5px;
  color: white;
  float: right;
  font-size: 13px;
  margin-right: 0.5%;
}

.high-priority {
  background-image: linear-gradient(to right, #9b0000 0%, #d34e4e 51%, #9b0000 100%);
  padding: 0.5vh;
  width: max-content;
  box-shadow: 2px 3px 5px rgb(167, 167, 167);
  border-radius: 5px;
  color: white;
  float: right;
  font-size: 13px;
  margin-right: 0.5%;
}

.reply-msg {
  background-image: linear-gradient(to right, #e6a57f 0%, #f9dfcc 51%, #e6a57f 100%);
  color: black;
  width: 10%;
  border: none;
  padding: 0.5vh;
  border-radius: 5px;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 2px 1px 5px #838383;
  display: block;
  float: right;
  margin-right: 15px;
  margin-top: 0.5vh;
}

.reply-msg:hover,
.cancel-btn:hover,
.btnBack:hover {
  background-position: right center;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.reply-msg:focus,
.cancel-btn:focus,
.btnBack:focus {
  outline: none;
}

.cancel-btn {
  background-image: linear-gradient(to right, #8f8f8f 0%, #ffffff 51%, #8f8f8f 100%);
  color: black;
  width: 10%;
  border: none;
  padding: 0.5vh;
  border-radius: 5px;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 2px 1px 5px #838383;
  display: block;
  float: left;
  margin-left: 77%;
  margin-top: 0.5vh;
}

.reply-textarea {
  width: 99%;
  border: 1px solid #d1d1d1;
  box-shadow: 2px 3px 5px #d6d6d6;
  border-radius: 5px;
  min-height: 150px;
}

.reply-textarea:focus {
  outline: none;
}

.recipinets {
  text-transform: lowercase;
}

.btnBack {
  background-image: linear-gradient(to right, #8f8f8f 0%, #ffffff 51%, #8f8f8f 100%);
  color: rgb(0, 0, 0);
  width: 6%;
  border: none;
  padding: 0.5vh;
  border-radius: 5px;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 2px 1px 5px #838383;
  display: block;
  margin-top: 2vh;
}

.msg-title {
  font-size: 20px;
}

.msg-title-holder {
    border: 1px solid #959595;
    background-color: #ececec;
    border-radius: 5px;
    margin-bottom: 1%;
}

.pagination {
  display: flex;
  list-style: none;
  margin-top: 3vh;
  padding: 0;
  float: right;
  margin-right: 1vh;
}

.pagination a {
  cursor: default;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #7e5f4e;
  color: #7e5f4e;
  margin-left: 10px;
}

.pagination li:not(.disabled) a:hover {
  background-color: #eac7b2;
  cursor: pointer;
  color: #7e5f4e;
}

.pagination li a {
  font-weight: bold;
}

.pagination li.active a {
  color: #fff;
  background: #90796a;
}

.pagination li.disabled a {
  pointer-events: none;
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}