.search-holder {
  width: 20%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 9px;
  border-radius: 5px;

}

.form-secondary {
  border: 1px solid #93c4bf;
  border-radius: 5px;
  background-color: #ffffff73;
  width: inherit;
}

.form-fallback {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1.45rem;
  padding: 9px;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  box-shadow: 2px 3px 8px #8d8d8d;
  background: #b5b5b52e;
}

.input-label {
  text-align: center;
}
.input {
  width: 78%;
  border: 1px solid #f5f5f5f7;
  height: 99%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 10px;
  font-size: 1em;
  outline: none;
}

.input-secondary {
  border: 1px solid #f5f5f5f7;
  padding-left: 10px;
  font-size: 1em;
  height: 3rem;
  outline: none;
}

.clickable-input {
  cursor: pointer;
}

.clickable-input:disabled,
.clickable-input:read-only {
  background-color: rgba(255, 255, 255, 0.8) !important;
}

.clickable-input-secondary {
  border: 1px solid #f5f5f5f7;
  padding-left: 10px;
  font-size: 1em;
  height: 3rem;
  outline: none;
  cursor: pointer;
}

.clickable-input:hover,
.clickable-input-secondary:hover {
  background-color: #e0edf9;
  transition: all ease-in-out 0.3s;
}

.values-container {
  width: 100%;
  height: 45px;
}

.values-container-secondary {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: start;
}

.values-container input,
.values-container select {
  background-color: rgb(237 237 237 / 80%) !important;
  border-radius: 3px !important;
}

.criteria-container {
  width: 100%;
  margin-top: 1rem;
}

.criteria-paragraph {
  margin-bottom: 2px;
  margin-left: 3px;
  color: #1f1f1f;
}

.dropdown {
  border: 1px solid rgb(57 133 125 / 52%);
  padding-left: 6px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-size: 1em;
  background: rgb(255 255 255 / 80%);
}

.secondary-dropdown {
  border: 1px solid rgb(95 168 211 / 50%);
  padding-left: 6px;
  width: 78%;
  height: 96%;
  border-radius: 5px 0 0 5px;
  font-size: 1em;
  background: rgb(95 168 211 / 50%);
}

.button {
  width: 22%;
  border: 1px solid #f5f5f5f7;
  border-radius: 0px 5px 5px 0;
  height: 100%;
  background-color: #0a6259;
  color: #ffffff;
  font-weight: 100;
  font-size: 1em;
}

.button-secondary {
  background-image: linear-gradient(to right, #dbaf96 0%, #ffe8d7 51%, #dbaf96 100%);
  color: #242424;
  border-radius: 5px;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 2px 1px 5px #838383;
  width: 11vh;
  border-radius: 5px;
  height: 38px;
  margin-left: 1vh;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 27px;
  border: none;
}

.button-secondary:hover {
  background-position: right center;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.button-secondary:focus {
  outline: none;
}

.button:hover {
  background-color: rgb(57 133 125);
}

.button:focus {
  outline: none;
}

.searchGridHolder {
  border: 1px solid #eff1f1;
  padding: 1vh;
  margin-top: 2vh;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.534);
  box-shadow: 2px 2px 6px #aaaaaa;
  width: 96%;
  margin-left: 2%;
  margin-bottom: 2%;
}

.dropdownItemStyle:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #68b1a9b3;
  border-left: 5px solid #0a6259;
}

@media screen and (min-width: 768px) and (max-width: 900px) {
  .search-holder {
    width: 50%;
  }
}

@media screen and (min-width: 550px) and (max-width: 768px) {
  .search-holder {
    width: 58%;
  }
}

@media screen and (min-width: 400px) and (max-width: 550px) {
  .search-holder {
    width: 66%;
  }
}

@media screen and (min-width: 900px) and (max-width: 1000px) {
  .search-holder {
    width: 40%;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .search-holder {
    width: 35%;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
  .search-holder {
    width: 35%;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1700px) {
  .search-holder {
    width: 25%;
  }
}
