.message-users-info .form-group.field.field-string {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.subject-title .form-group.field.field-string,
.new-message-form .form-group.field.field-string  {
  width: 100%;
}

.subject-form .form-group.field.field-string {
  width: 25%;
  left: 12.5%;
}

.message-form {
  width: 99%;
}

.message-form .form-group.field.field-object .form-group.field.field-object legend,
.message-form .form-group.field.field-array legend {
  display: none;
}

.title-message-form legend {
  font-family: 'Encode Sans', sans-serif;
  text-transform: uppercase;
  margin-left: 1vh;
  font-size: 30px;
  color: #4a4a4a;
}

.message-users-info .Select-placeholder {
  background-color: #f0f0f0;
}

.message-form .form-group {
  margin-bottom: 0.5rem;
}

.message-form button.btn.btn-danger.array-item-remove {
  padding-left: 1vh !important;
  padding-right: 1vh !important;
  margin-left: -2vh;
}

button.btn.btn-danger.array-item-remove::after {
  content: ' \0078';
  font-weight: bold;
}

button.btn.btn-info.btn-add.col-xs-12::after {
  content: ' \002B';
}

.message-form p.col-xs-3.col-xs-offset-9.text-right.array-item-add {
  margin-left: 3vh;
}
.row.array-item-list {
  margin-left: 0vh;
}
button.btn.btn-default.array-item-move-up {
  margin-right: -1vh;
}

.attachment-info .field-string, .field-integer, .field-number, .field-boolean #form .form-control {
  margin-left: 1vh;
}
.btn-group>.btn:not(:first-child) {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.row.array-item-list {
  margin-left: -1vh;
}
.success-custom-btn {
  background-image: linear-gradient(to right, #cc8b68 0%, #ffe0c9 51%, #cf906e 100%);
  color: black;
  border: none;
  padding: 1vh;
  border-radius: 5px;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 2px 1px 5px #838383;
  display: block;
  font-weight: bold;
  margin-left: -11vh !important;
}

.success-custom-btn:hover {
  background-position: right center;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.success-custom-btn:focus {
  outline: 0;
  box-shadow: 3px 3px 5px #595959;
}














.customGridClass .react-grid-Container {
  clear: both;
  /* margin-top: 5%; */
  padding-left: 1vh;
  padding-right: 1vh;
  color: black;
}

.customGridClass .react-grid-Main {
background-color: #fbf3e4 !important;
box-shadow: 1px 1px 20px rgba(36, 19, 8, 0.5);
border: none !important;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
outline: none !important;
}

.customGridClass .react-grid-Grid {
/*main rows */
background-color: #fbf3e4 !important;
border: none !important;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}

.customGridClass .react-grid-Row {
  cursor: pointer;
  /* height: 50px !important;  */
}

.customGridClass .react-grid-Row.row-selected {
background-color: #f4e6be !important;
-webkit-transition: background-color 500ms ease, color 500ms ease;
-ms-transition: background-color 500ms ease, color 500ms ease;
-moz-transition: background-color 500ms ease, color 500ms ease;
transition: background-color 500ms ease, color 500ms ease; 
}


.customGridClass .react-grid-Header {
  background: rgb(252 223 204) !important;
}

.customGridClass .react-grid-Toolbar {
/*toolbar with buttons */
  background-color: #7e5f4e !important;
  box-shadow: 1px 1px 20px rgba(36, 19, 8, 0.5);
  border-color: transparent !important;
  border-image: repeat;
  border-style: solid solid none;
  border-width: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  height: 48px;
  margin-top:5px;
}

.customGridClass .react-grid-Toolbar .btn {
  background-image: linear-gradient(to right, #b6a196 0%, #fff3eb 51%, #b6a196 100%);
  color: #333333;
  width: 98%;
  border: none;
  border-radius: 5px;
  transition: 0.5s;
  background-size: 200% auto;
  display: block;

/* background-color: rgb(240, 223, 171) !important;
margin-right: 5px;
border: none !important; */
}

.customGridClass .react-grid-Toolbar .btn:hover {
  background-position: right center;
  color: #333333;
  text-decoration: none;
  border: none;
}

.customGridClass .react-grid-Toolbar span {
color: white;
font-size: 15px;
font-weight: 700;
}

.customGridClass .react-grid-HeaderCell {
background-color: rgba(36, 19, 8, 0.5) !important;
border-right: 1px solid #000000 !important;
border-bottom: 1px solid #000000 !important;
height: auto;
}

.customGridClass .react-grid-HeaderCell .form-group input, .customGridClass .react-grid-HeaderCell .Select-control,
.customGridClass .react-grid-HeaderCell .Select-menu-outer {
background-color: #e9f1da;
}

.customGridClass .react-grid-HeaderCell .is-open>.Select-control {
background-color: #e9f1da;
}

.customGridClass .react-grid-HeaderCell .Select-option {
background-color: #f6e1bc;
color: black;
}

.customGridClass .react-grid-HeaderCell-sortable {
font-size: 13px;
color: white;
white-space: normal;
}

.customGridClass .react-grid-Cell {
/* border-right: 1px solid #c1b1a4 !important; */
border-right: none !important;
border-bottom: 1px solid #c1b1a4 !important;
background-color: #fbf3e4 !important;
color: rgb(37, 37, 37);
word-wrap: normal;
font-size: 15px;
}

.customGridClass .reactGrid {
  padding-right: 10px;
  text-align: center;

  -moz-animation-name: showEffect;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-in;
  -moz-animation-duration: 0.3s;

  -webkit-animation-name: showEffect;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 0.3s;

  animation-name: showEffect;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;

}

.customGridClass .react-grid-Canvas {
background-color: #fbf3e4 !important;
}

.customGridClass .widget-HeaderCell__value{
  width: auto;
  white-space: normal;
  word-wrap: normal;
  color: white;
  height: auto;
  font-size: 11px;
  padding: 1px;
}

@-moz-keyframes showEffect {
  from  {  opacity: 0; }
  to {  opacity: 1; }

}
@-webkit-keyframes showEffect {
  from  {  opacity: 0; }
  to {  opacity: 1; }
}
@keyframes showEffect {
  from  {  opacity: 0; }
  to {  opacity: 1; }
}

.customGridClass .btn_exportCsv {
float: right;
margin-top: 0.5%;
margin-right: 1.5%;
width:44px;
height:44px;
border: none
}

.customGridClass .switch-grid-btn {
  margin-left: 7px;
  margin-top: 9px;
  float: left;
  background-color: rgba(1, 1, 1, 0.3);
  height: 59px;
  padding-top: 2px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.customGridClass .react-contextmenu {
padding: 10px;
background-color: rgba(36, 19, 8, 0.8);
box-shadow: 1px 1px 5px rgba(36, 19, 8, 0.8);
border-radius: 5px;
}

.customGridClass .react-contextmenu-item {
padding: 10px;
color: white;
cursor: pointer;
font-size: 1em;
font-weight: bold;
}

.customGridClass .pull-right {
display: contents;
}

.customGridClass {
  text-align: center;
}